<ul class="breadcrumb breadcrumb-page breadcrumb-dark" style="background:#999;">
	<li><a href="/">Home</a></li>
	<li><a href="#">Star Wars</a></li>
	<li><a href="/star-wars-d20/">Start</a></li>
	<li><a href="/star-wars-d20/ability">Ability Scores</a></li>
	<li><a href="/star-wars-d20/species">Species</a></li>
	<li class="active"><a href="#">Class</a></li>
</ul>

<div class="page-header">
	<h1>
		<i class="fa fa-rebel page-header-icon"></i>&nbsp;&nbsp;Select Your Class
	</h1>
</div>

<div class="note note-info">
	<h4 class="note-title">Note About Classes</h4>
	<p>
		All player characters must choose a heroic class at level 1.
	</p>
</div>

<div class="row">
	<div class="col-sm-6">
		<div class="panel">
			<div class="panel-heading">Select a Class</div>
			<div class="panel-body">
				<div class="radio" style="margin-top: 0;">
					<label>
						<input type="radio" name="class" ng-model="selectedClass" value="Jedi" checked="" class="px" ng-change="classChanged()" />
						<span class="lbl">Jedi</span>
						<i ng-class="jediRecommendation"></i>
					</label>
				</div>
				<div class="radio" style="margin-top: 0;">
					<label>
						<input type="radio" name="class" ng-model="selectedClass" value="Noble" checked="" class="px" ng-change="classChanged()" />
						<span class="lbl">Noble</span>
						<i ng-class="nodleRecommendation"></i>
					</label>
				</div>
				<div class="radio" style="margin-top: 0;">
					<label>
						<input type="radio" name="class" ng-model="selectedClass" value="Scoundrel" checked="" class="px" ng-change="classChanged()" />
						<span class="lbl">Scoundrel</span>
						<i ng-class="scoundrelRecommendation"></i>
					</label>
				</div>
				<div class="radio" style="margin-top: 0;">
					<label>
						<input type="radio" name="class" ng-model="selectedClass" value="Scout" checked="" class="px" ng-change="classChanged()" />
						<span class="lbl">Scout</span>
						<i ng-class="scoutRecommendation"></i>
					</label>
				</div>
				<div class="radio" style="margin-top: 0;">
					<label>
						<input type="radio" name="class" ng-model="selectedClass" value="Soldier" checked="" class="px" ng-change="classChanged()" />
						<span class="lbl">Soldier</span>
						<i ng-class="soldierRecommendation"></i>
					</label>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="panel">
			<div class="panel-heading">Class Description</div>
			<div class="panel-body">
				<p style="height: 110px;">{{classDescription}}</p>
				<div class="pull-right">
					<button ng-click="accept()" class="btn btn-primary">Continue</button>
				</div>
			</div>
		</div>
	</div>
</div>

