
html { overflow: -moz-scrollbars-vertical;  overflow-y: scroll; }
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak { display:none; }



#content-wrapper { padding-top:44px;}


.char-sheet-field { margin-bottom:10px;}
.char-sheet-field div { border-bottom:1px solid #999; padding:5px; font-size:18px; line-height:15px; content: " &nbsp;"; }
.char-sheet-field small { font-size:8px; color:#999;}

.char-table { width:100%;}
.char-table th {font-size:8px;}
.char-table td {padding:10px;}