<div id="main-menu" role="navigation" ng-controller="sideMenuCtrl">
	<div id="main-menu-inner">
		<ul class="navigation">
			<li><a href="/"><i class="menu-icon fa fa-home"></i><span class="mm-text">Home</span></a></li>
			<li class="mm-dropdown mm-dropdown-root open">
				<a href="#"><i class="menu-icon fa fa-rebel"></i><span class="mm-text">Star Wars d20</span></a>
				<ul class="mmc-dropdown-delay animated fadeInLeft" style="">
					<li><a href="/star-wars-d20/basic"><span class="mm-text">Character Generation</span></a></li>
					<li><a href="/star-wars-d20/weapons"><span class="mm-text">Weapons</span></a></li>
					<li><a href="/star-wars-d20/armor"><span class="mm-text">Armor</span></a></li>
					<li><a href="/star-wars-d20/services"><span class="mm-text">Services</span></a></li>
					<li><a href="/star-wars-d20/equipment"><span class="mm-text">Equipment</span></a></li>
				</ul>
			</li>

		</ul>
	</div>
</div>
