<div id="main-menu" role="navigation" ng-controller="sideMenuCtrl">
	<div id="main-menu-inner">
		<ul class="navigation">
			<li><a href="/"><i class="menu-icon fa fa-home"></i><span class="mm-text">Home</span></a></li>
			<li><a href="/star-wars-d20"><i class="menu-icon fa fa-rebel"></i><span class="mm-text">Star Wars d20</span></a></li>

		</ul>
	</div>
</div>
