<div id="main-navbar" class="navbar navbar-inverse" role="navigation" ng-controller="mainMenuCtrl">
	@*<button type="button" id="main-menu-toggle" ng-click="toggleMenu()"><i class="navbar-icon fa fa-bars icon"></i><span class="hide-menu-text">HIDE MENU</span></button>*@
	<div class="navbar-inner">
		<div class="navbar-header" style="padding-left:10px !important;">
			<a href="/" class="navbar-brand">
				Character Generator
			</a>
			@*<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-collapse"><i class="navbar-icon fa fa-bars"></i></button>*@
		</div>
		<div id="main-navbar-collapse" class="collapse navbar-collapse main-navbar-collapse">
			<div>
				<!--
				<ul class="nav navbar-nav">
					<li><a href="/about">About</a></li>
					<li><a href="/contact">Contact</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-plus"></i> New</a>
						<ul class="dropdown-menu">
							<li><a href ng-click="createDeck()">New Deck</a></li>
							<li><a href ng-click="createCompany()">New Company</a></li>
							<li><a href ng-click="createArtist()">New Artist</a></li>
							<li><a href ng-click="createSkateboarder()">New Skateboarder</a></li>
							<li><a href ng-click="createSeries()">New Series</a></li>
							<li class="divider"></li>
							<li><a href ng-click="createUser()">New User</a></li>
						</ul>
					</li>
					<li>
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-paper-plane-o"></i> Theme</a>
						<ul class="dropdown-menu">
							<li ng-class="{'active': storage.theme == 'theme-default'}"><a href ng-click="changeTheme('theme-default')">Default Theme</a></li>
							<li ng-class="{'active': storage.theme == 'theme-asphalt'}"><a href ng-click="changeTheme('theme-asphalt')">Asphalt Theme</a></li>
							<li ng-class="{'active': storage.theme == 'theme-purple-hills'}"><a href ng-click="changeTheme('theme-purple-hills')">Purple Hills Theme</a></li>
							<li ng-class="{'active': storage.theme == 'theme-dust'}"><a href ng-click="changeTheme('theme-dust')">Dust Theme</a></li>
							<li ng-class="{'active': storage.theme == 'theme-adminflare'}"><a href ng-click="changeTheme('theme-adminflare')">Admin Flare Theme</a></li>
							<li ng-class="{'active': storage.theme == 'theme-frost'}"><a href ng-click="changeTheme('theme-frost')">Frost Theme</a></li>
							<li ng-class="{'active': storage.theme == 'theme-fresh'}"><a href ng-click="changeTheme('theme-fresh')">Fresh Theme</a></li>
							<li ng-class="{'active': storage.theme == 'theme-silver'}"><a href ng-click="changeTheme('theme-silver')">Silver Theme</a></li>
							<li ng-class="{'active': storage.theme == 'theme-clean'}"><a href ng-click="changeTheme('theme-clean')">Clean Theme</a></li>
							<li ng-class="{'active': storage.theme == 'theme-white'}"><a href ng-click="changeTheme('theme-white')">White Theme</a></li>
						</ul>
					</li>
				</ul>
				<div class="right clearfix">
					<ul class="nav navbar-nav pull-right right-navbar-nav">
						<li>
							<form class="navbar-form pull-left">
								<input type="text" class="form-control" placeholder="Search">
							</form>
						</li>
					</ul>
				</div>-->
			</div>
		</div>
	</div>
</div>
